<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CLick the link below to verify your email <address></address></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quasi earum doloremque aperiam recusandae autem quae quo! Alias amet quibusdam dolore laboriosam, ratione fugit eligendi at, ipsum cum quod quam.
    </p>
    <p>
         <a href=`{{linkWithToken}}` target="_blank">Verify Here</a>
    </p>
</body>
</html>