<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello {{email}}</h1>
     <h1>Thanks</h1>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, necessitatibus veritatis nobis fuga nulla quaerat omnis! Quos tempore doloribus deserunt placeat necessitatibus fuga quasi quibusdam nihil vitae sequi sint fugit accusamus in vel, minima eaque iure animi dolore quidem eligendi consequuntur. A, veritatis est distinctio maxime, neque ipsam, modi eligendi amet error exercitationem iusto tempore voluptatum animi culpa suscipit blanditiis explicabo? Sint sapiente facilis, quod eos fuga consectetur repellendus natus dolor sed officia inventore tenetur perferendis totam consequuntur error explicabo, soluta nemo magni porro et dolore impedit! Sit soluta totam necessitatibus saepe velit provident, blanditiis nihil delectus optio, quam quis.
     </p>
</body>
</html>